{% extends "base.html" %}
{% block title %} {{ catalog.name }} {% endblock %}

{% block content %}
    <div class="container">

        {% include "header.html" %}

        <div class="row">
            <div class="col-8">
                <h3>Items in {{ catalog.name }}</h3>
                <ul>
                    {% for item in catalog.items %}
                        <li><a href="/item/{{ item.slug }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
{% endblock %}