{% extends "base.html" %}
{% block title %} Register a new user {% endblock %}

{% block content %}
    <div class="container">
        {% include "header.html" %}
        <div class="row">
            <div class="col-4 card">
                <h3>Catalogs</h3>
            </div>
            <div class="col-8">
                <p>Register</p>
                <form action="#" method="post" class="form-group">
                    <p class="col-form-label">User Name</p>
                    <input name="csrf_token" type=hidden value="{{ session.get('csrf_token') }}">
                    <input type="text" class="form-control" name="user_name">
                    <p class="col-form-label">E-mail</p>
                    <input type="text" class="form-control" name="email">
                    <p class="col-form-label">Password</p>
                    <input type="password" class="form-control" name="password">
                    <p class="col-form-label">Confirm password</p>
                    <input type="password" class="form-control" name="cnf_password">
                    <div class="form-group m-2">
                        <input type="reset" value="Reset" class="btn-info">
                        <input type="submit" value="Create" class="btn-info">
                    </div>
                </form>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
{% endblock %}